body, html {
    margin: 0;
    height: 100%;
    font-family: monospace;
}

#navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(45deg, #B4DFDF, #5AA4C7, cyan);
}

#navbar>a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

@media (max-width:600px) {
    #navbar {
        justify-content: space-between;
    }
    #navbar>a {
        font-size: 20px;
    }
}

#navbar>a:hover {
    background-color: white;
    color: cyan;
}

#welcome {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('https://media.giphy.com/media/3osxYuthM9iM6IEIY8/giphy.gif');
    background-position: center;
    background-size: cover;
}

#welcome>#whoami {
    position: relative;
    top: 35%;
}

#welcome>#whoami>h1 {
    font-size: 50px;
}

#welcome>#whoami>p {
    font-size: 30px;
}

hr {
    height: 2px;
    background-image: linear-gradient(45deg, cyan, #dd4814);
    border: none;
}

#projects {
    margin: 100px 100px;
}

.project-group {
    margin: 20px 0;
}

#projects>p, #contact>p {
    text-align: center;
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
}

@media(max-width:600px) {
    #projects {
        margin: 100px 20px;
    }
    .content {
        flex-direction: column;
    }
}

.project-tile {
    border: 1px solid #777;
}

.project-title {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    height: 40px;
}

.project-link>img {
    width: 100%;
    height: 100px;
}

#contact {
    margin: 50px 0;
}

#contact-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-link>a>img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

#footer {
    background-image: linear-gradient(45deg, yellow, orange, #dd4814);
    color: #5e0080;
    text-align: left;
    padding-left: 30px;
}

.collapsible {
    background-color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.certification>p {
    text-align: center;
    font-size: 15px;
}

.certification>p>a {
    text-decoration: none;
    color: #5e0080;
}

#gradient-text-welcome {
    background-image: linear-gradient(45deg, #B4DFDF, #5AA4C7, cyan);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#gradient-text-contact {
    background-image: linear-gradient(45deg, yellow, orange, #dd4814);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-text-animation {
    background-color: cyan;
    background-image: linear-gradient(45deg, cyan, red, green, blue, #dd4814);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-back 1s ease forwards;
}

.gradient-text-animation:hover {
    animation: background-move 1s ease forwards;
}

@keyframes background-back {
    0% {
        background-size: 1000%
    }
    40% {
        background-size: 1000%
    }
    100% {
        background-size: 100%
    }
}

@keyframes background-move {
    0% {
        background-size: 100%
    }
    80% {
        background-size: 1000%
    }
    100% {
        background-size: 1000%
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, yellow, orange, #dd4814);
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(45deg, #B4DFDF, #5AA4C7, cyan);
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    background-color: black;
}

#loading-img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}