body, html {
    margin: 0;
    height: 100%;
    font-family: monospace;
}

#navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: cyan;
}

#navbar>a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

@media (max-width:600px) {
    #navbar {
        justify-content: space-between;
    }
    #navbar>a {
        font-size: 20px;
    }
}

#navbar>a:hover {
    background-color: white;
    color: cyan;
}

#welcome {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url('https://media.giphy.com/media/3osxYuthM9iM6IEIY8/giphy.gif');
    background-size: cover;
}

#welcome>#whoami {
    position: relative;
    top: 35%;
}

#welcome>#whoami>h1 {
    font-size: 50px;
}

#welcome>#whoami>p {
    font-size: 30px;
}

hr {
    border: 1px solid cyan;
}

#projects {
    margin: 100px 100px;
}

.project-group {
    margin: 20px 0;
}

#projects>p, #contact>p {
    text-align: center;
    font-size: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
}

@media(max-width:600px) {
    #projects {
        margin: 100px 20px;
    }
    .content {
        flex-direction: column;
    }
}

.project-tile {
    border: 1px solid #777;
}

.project-title {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.project-link>img {
    width: 100%;
    height: auto;
}

#contact {
    margin: 50px 0;
}

#contact-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-link>a>img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

#footer {
    background-color: #dd4814;
    text-align: right;
    padding-right: 30px;
}

.collapsible {
    background-color: #777;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.collapsible:hover {
    background-color: #555;
}

.hidden {
    display: none;
}

.certification>p {
    text-align: center;
    font-size: 15px;
}

.certification>p>a {
    text-decoration: none;
    color: #5e0080;
}