:root {
    --gradient-cyan: linear-gradient(45deg, #B4DFDF, #5AA4C7, cyan);
    --loading-transition: width 1s, height 1s;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: monospace;
    scroll-behavior: smooth;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-image: var(--gradient-cyan);
}

#navbar>a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

#navbar>a:hover {
    background-color: white;
    color: cyan;
}

#whoami {
    margin: 100px auto;
    padding: 20px;
    max-width: 60%;
    color: white;
    border: 2px solid white;
    text-align: center;
}

#whoami>h1 {
    font-size: 40px;
}

#whoami>p {
    font-size: 20px;
}

#gallery, #contact, #skill, #certificate {
    margin: 100px 50px;
    padding: 20px;
    border: 2px solid white;
}

#gallery>p, #contact>p, #skill>p, #certificate>p {
    text-align: center;
    font-size: 25px;
    color: white;
}

.project-group {
   text-align: center;
}

.project-tile {
    display: inline-block;
    margin: 10px;
}

.project-title {
    text-align: center;
    font-size: 10px;
    color: white;
}

.project-link>img {
    width: 200px;
    height: 100px;
}

#front-end>p, #back-end>p, #other>p, #programming>p {
    font-size: 20px;
    color: white;
}

.skill-group {
    display: inline-block;
    margin: 10px;
}

.skill-tile>img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.skill-title {
    display: inline;
    font-size: 15px;
    color: white;
}

#certificate-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#certificate-links>a {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

#certificate-links>a:hover {
    transform: scale(1.2);
}

#contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contact-links>a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

#contact-links>a:hover {
    transform: scale(1.2);
}

@media (max-width:1000px) {
    #navbar {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:800px) {
    #contact-links {
        display: grid;
    }
    #whoami {
        max-width: 80%;
    }
}

@media (max-width:600px) {
    #navbar>a {
        font-size: 15px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: var(--gradient-cyan);
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    background-color: #191f26;
    transition: var(--loading-transition);
}

#loading-img {
    max-height: 100%;
    margin: 0 auto;
    width: auto;
}