.contact {
    background-color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    margin: 2rem 0;
    border-radius: 20px;
}

.contact a {
    text-decoration: underline;
    padding: 1rem;
    color: #0070f3;
}

.contact a:hover {
    transform: scale(1.2);
}