.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: color 1s ease, border-color 1s ease;
  background-color: #fff;
  color: #161616;
}

.card:hover, .card:focus, .card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: #ffa500;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 800px) {
  .grid {
    flex-direction: column;
  }
  .card {
    flex-basis: 100%;
  }
}